# Project Studi Case : Indonesia Happines Rank Report

# Understanding Business : 

Dataset yang digunakan yaitu [world Happiness Report 2021](https://www.kaggle.com/datasets/ajaypalsinghlo/world-happiness-report-2021). membangun Visualisasi Data dan model machine learning untuk memprediksi Analytic Indonesia Happines Rank Report 2021.

# Smart Question

1. Specific:
- Apa faktor-faktor khusus yang paling berkontribusi terhadap tingkat kebahagiaan di Indonesia menurut laporan World Happiness Report 2021?

2. Measurable:
- Berapa skor kebahagiaan rata-rata yang diberikan oleh warga Indonesia dalam laporan World Happiness Report 2021, dan bagaimana perbandingannya dengan skor kebahagiaan rata-rata global?

3. Action-oriented:
- Bagaimana pemerintah Indonesia dapat menggunakan temuan dari laporan World Happiness Report 2021 untuk meningkatkan kebijakan dan program yang bertujuan untuk meningkatkan tingkat kebahagiaan warga negara?

4. Relevant:
- Seberapa relevan tingkat kebahagiaan di Indonesia dalam konteks global, terutama dalam hal hubungannya dengan stabilitas sosial, kesejahteraan ekonomi, dan perkembangan sosial?

5. Time-bound:
- Apakah ada tren yang signifikan dalam tingkat kebahagiaan di Indonesia dalam beberapa tahun terakhir yang dapat diidentifikasi dari data dalam laporan World Happiness Report 2021?

# Importing Library

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import missingno as ms
import warnings

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from ucimlrepo import fetch_ucirepo
# from langchain_community.llms import Ollama 

warnings.filterwarnings('ignore')
sns.set(style='whitegrid')
plt.style.use('Solarize_Light2')

In [2]:
# # Auto Exploratory Data Analysis
# from pandas_profiling import ProfileReport

# # AutoML
# from autogluon.core.utils.loaders import load_zip
# from autogluon.multimodal import MultiModalPredictor
# from autogluon.multimodal.data.infer_types import infer_column_types
# from autogluon.tabular import TabularPredictor
# from autogluon.features.generators import AutoMLPipelineFeatureGenerator
# from autogluon.tabular import FeatureMetadata

# Data Preparation

Gathering Data

In [3]:
df_2021 = pd.read_csv("data\world-happiness-report-2021.csv")

df_past = pd.read_csv("data\world-happiness-report.csv")

In [4]:
df_2021.head(10)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
5,Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.3,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
6,Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.7,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
7,Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.6,0.907,-0.034,0.386,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653
8,New Zealand,North America and ANZ,7.277,0.040,7.355,7.198,10.643,0.948,73.4,0.929,0.134,0.242,2.43,1.400,1.094,0.785,0.665,0.276,0.445,2.612
9,Austria,Western Europe,7.268,0.036,7.337,7.198,10.906,0.934,73.3,0.908,0.042,0.481,2.43,1.492,1.062,0.782,0.640,0.215,0.292,2.784

In [5]:
SEA = df_2021[df_2021['Regional indicator'] == "Southeast Asia"]['Country name'].to_list()

print("Negara-negara yang ada dalam ASEAN terdiri dibawah ini : \n")

pd.DataFrame(SEA)

Negara-negara yang ada dalam ASEAN terdiri dibawah ini :

             0
0    Singapore
1     Thailand
2  Philippines
3      Vietnam
4     Malaysia
5    Indonesia
6         Laos
7     Cambodia
8      Myanmar

Assesing Data

Infomation Tabel Indonesia Happiness Rank Report

In [6]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [7]:
print("DataFrame Indonesia Happiness Rank Report : ")
print(df_2021.isna().sum())

DataFrame Indonesia Happiness Rank Report :
Country name                                  0
Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
dtype: int64

- Terdapat 541,909 entri dalam dataset ini.
- Kolom Deskripsi memiliki 1,454 nilai yang hilang (null).
- Kolom CustomerID memiliki 135,080 nilai yang hilang (null), yang berarti sebagian besar transaksi tidak terkait dengan pelanggan tertentu.
- Data ini memiliki beberapa tipe data, termasuk objek (string), integer, float, dan datetime.

In [8]:
print('Jumlah Duplikasi : ', df_2021.duplicated().sum())

Jumlah Duplikasi :  0

Descriptive analysis Statistic

In [9]:
df_2021.describe().style.background_gradient(cmap="RdPu")

Cleaning Data